<!--
Name: Lander Smits
Class: 1ITF05
Student-number: r1093338
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Owner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="card">

<h1>Create new owner</h1>

<form action="/submitOwner">

    First name:
    <input type="text" name="firstName"><br>

    Surname:
    <input type="text" name="surname"><br>

    Year of birth:
    <input type="number" name="year"><br>

    Choose car:
    <select name="carIndex">
        <option value="-1">Select a car</option>
        <option th:each="car, carStat : ${carList}"
                th:value="${carStat.index}"
                th:text="${car.name}">
        </option>
    </select>
    <br><br>

    <button type="submit">Create owner</button>
</form>

<br>
<a href="/">Back to home page</a>

</div>

</body>
</html>