<!--
Name: Lander Smits
Class: 1ITF05
Student-number: r1093338
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cars</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="card">

    <h1>All Cars</h1>
    <ul>
        <li th:each="car, carStat : ${carList}">
            <a th:href="@{/cardetails(carIndex=${carStat.index})}"
               th:text="${car.getName()}">
            </a>
            <br>
            Kilometers:
            <span th:text="${car.getKilometers()}"></span>
            <br><br>
        </li>
    </ul>

    <a class="menu-button" href="/">Back to home</a>

</div>

</body>
</html>