<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>New Maintenance</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="card">

    <h1>Create Maintenance</h1>
    <form action="/submitMaintenance">
        Type of maintenance:
        <input type="text" name="type">
        <br><br>
        Duration (in minutes):
        <input type="number"
               name="duration"
               min="1"
               max="1000"
               value="60">
        <br><br>
        Hourly rate:
        <br><br>
        <input type="range"
               name="hourlyRate"
               min="1"
               max="100"
               value="35"
               step="1"
               oninput="this.nextElementSibling.value = this.value">
        <output>35</output>
        <br><br>
        <select name="carIndex">
            <option value="-1">Select car</option>
            <option th:each="car, carStat : ${carList}"
                    th:value="${carStat.index}"
                    th:text="${car.name}">
            </option>
        </select>
        <br><br>
        <select name="staffIndex">
            <option value="-1">Select staff member</option>

            <option th:each="staff, staffStat : ${staffList}"
                    th:value="${staffStat.index}"
                    th:text="${staff.firstName + ' ' + staff.surName}">
            </option>
        </select>
        <br><br>
        <button type="submit">
            Confirm maintenance
        </button>
    </form>
    <br>

    <a class="menu-button" href="/">Back to home</a>

</div>

</body>
</html>