<!--
Name: Lander Smits
Class: 1ITF05
Student-number: r1093338
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Classic cars start</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div class="card">

<h1>Classic Cars Application</h1>
<p>Lander</p>

<hr/>

<a class="menu-button" href="/newowner">New owner</a>
<a class="menu-button" href="/newstaff">New staff member</a>

</div>

</body>
</html>