<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Theme park and its attractions</title>
</head>
<body>
<h3>Attractions of <span th:text="${themepark.getName()}"></span></h3>

<ol>
    <li th:each="attraction : ${themepark.getAttractions()}">
        <div>
            <b><span th:text="${attraction.getName()}">   </span></b>
            <span th:text="'- responsible: '  + ${attraction.getResponsible().getFirstName()}+' '+${attraction.getResponsible().getSurName()} "></span>
            <p><span th:text="'Duration: '+${attraction.getDuration()}+' seconds'">   </span></p>
        </div>
        <img onerror=" this.src='img/noimage.jpg'" th:src="@{${attraction.getPhoto()}}" width="150"/>
    </li>
</ol>


<a href="/">Back to home page</a>
</body>
</html>

