<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Details attraction</title>
    </head>
<body>
<h2 th:text="'We found this attraction: '+${attraction.getName()}"></h2>

<div>
    <p th:text="'Responsible: '  + ${attraction.getResponsible().getFirstName()}+' '+${attraction.getResponsible().getSurName()} "></p>
</div>
<img onerror="this.src='img/noimage.jpg'" th:src="@{${attraction.getPhoto()}}" width="300"/>

<br/>
<a href="/">Back to home page</a>
</body>
</html>