<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Registratie personeelslid</title>
</head>
<body>
    <form action="/confirmstaffmember" method="post">
        <p><label for="firstName">First name</label>
            <input type="text" name="firstName" id="firstName">
        </p>
        <p> <label for="surName">Surname</label>
            <input type="text" name="surName" id="surName">
        </p>
        <p> <label for="startDate">Employed since (dd/mm/yyyy)</label>
            <input type="text" name="startDate" id="startDate">
        </p>
        <p><input type="checkbox" name="student" value="student" id="student">
            <label for="student">working student?</label>
        </p>
        <p>
            <input type="submit" value="Confirm staff member" name="confirmstaffmember">
        </p>
    </form>
    <a href="/" >Back to home page</a>
</body>
</html>