<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>New theme park</title>
</head>
<body>
<form action="/confirmthemepark" method="post">
    <p><label for="name">Name theme park</label>
        <input type="text" name="name" id="name">
    </p>

    <p>
        <input type="submit" value="Confirm theme park" name="confirmpark">
    </p>
</form>
<a href="/" >Back to home page</a>
</body>
</html>